[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "JOPS"]
	path = JOPS
	url = https://github.com/cran/JOPS
	shallow = true
	registered = true
